*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 16px;
}

/* HEADER */

header{
    display: flex;
    align-items:center;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    background-color: rgb(29, 47, 47);
    justify-content: space-between;
    padding: 40px;
    padding-top: 60px;
    margin: 0px auto;
    color: white;
}

/* NAVIGATION */
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.search-country{
    position: relative;
    padding-top: 10px;
}

.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
    height: 50px;
}
.search-box img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
.search-box input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(29, 47, 47) ;
    border: none;
    color: white;
    font-size: 14px;
    
}
search-box-un{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
    height: 50px;
}
.search-box-un img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
.search-box-un input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(29, 47, 47) ;
    border: none;
    color: white;
    font-size: 14px;
    
}
::placeholder{
    color: white;
    opacity: 70%;
}

.country-list{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 48px;
    width: 400px;
    background-color:rgb(29, 47, 47);
    border-radius: 5px;
    height: 200px;
    padding: 20px 0px 0px 5px;
    color: white;
    font-size: 14px;
    overflow-y: scroll;
}
.country-list ul{
    width: 100%;
    
}
/* width */
.country-list::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
.country-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
.country-list::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 5px;
  }
  
.country-list ul li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
}
.country-list ul li:hover{
    border-left: 1px solid  white ;
}

.hide{
    display: none;
}
.anim{
    animation: fade 0.5s ease-in-out;
}


/* BODY */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color:whitesmoke;
}

.recent-report{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.country,
.total-cases,
.recovered-cases,
.deaths {
    height: 80px;
}

.name{
    font-size: large;
    color: darkblue;
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 24px;
}
.total-value{
    font-size: 40px;
    font-weight: bold;
}
.new-value{
    font-size: 18px;
}
.total-cases .total-value{
    color: blueviolet;
}
.recovered-cases .total-value{
    color:#009688;
}
.deaths .total-value{
    color: #f44336;
}


/*CHARTS*/

.chart{
    width: 90%;
    height: 60vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}

/*FOOTER*/
.footer-container{
    height: 50px;
    background-color: rgb(29, 47, 47);
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.credits{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 6px;
    color: white;
}

@media (max-width: 700px){
    .name{
        font-size: 24px;
        color: darkblue;
        font-weight: bold;
    }
    
    .change-country{
        cursor: pointer;
    }
    
    .title{
        font-size: 20px;
        
    }
    .total-value{
        font-size: 24px;
        font-weight: bold;
        /* text-align: center; */
    }
    .new-value{
        font-size: 16px;
        /* text-align: center; */
    }
    .recent-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 20px;
    }
    .country-list{
        width: 300px;
    }
    .search-box input{
        width: 300px;
    }
    .search-box{
        width: 300px;
    }
    .search-box img{
        margin-left: 10px;
        margin-bottom: 5px;
        width: 20px;
        height: 20px;
    }
    .credits{
        font-size: 12px;
    }

}

